/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    background-color: #f3e9e7;
/*    background-image: url('media/bg.jpg');*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #555;
    height: 100vh;
    position: relative;
    text-align: center;
    overflow-x: hidden;
}

.image-container {
    width: 100vw;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.image-container img {
    max-width: 600px;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.save-the-date button {
    background-color: #e07b6b; /* Wedding-themed color */
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: inline-flex;
    align-items: center; /* Align button text and icon vertically */
}

.save-the-date button:hover {
    background-color: #d66a57; /* Darker shade on hover */
}

.save-the-date i {
    font-size: 1.5rem; /* Increase the icon size */
    margin-right: 10px; /* Space between the icon and text */
}
.save-the-date {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center the buttons */
    gap: 10px; /* Space between buttons */
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .image-container {
        height: 80vh; /* Default for all browsers, including Chrome */
    }

    /* Safari-specific styles */
    @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) {
            .image-container {
                height: 70vh; /* Safari-specific height */
            }
        }
    }

    .image-container img {
        max-width: 90%;
    }

    .save-the-date {
        flex-direction: row; /* Stack buttons vertically on mobile */
        align-items: center; /* Center buttons */
    }


    .save-the-date button {
        font-size: 0.8rem;
        padding: 10px 16px;
    }
}
